.page.theme_dark {
  background-image: url(/images/cover-image-dark.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  --border-hover-color: rgb(255 0 112 / 0.4);
  --bg-color: #000028;
  --text-color: #F1B2CE;
  --main-title-color: #DB00FF;
  --main-title-accent-color: #FF0070;
  --title-decor-color: #FF0070;
  --accent-color: #FF0070;
  --subtitle-color: #000028;
}
