.page.theme_light {
  background-image: url(/images/cover-image-light.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  --border-hover-color: rgb(50 49 45 / 0.4);
  --bg-color: #FFF1F7;
  --text-color: #353430;
  --main-title-color: #FFC2E6;
  --main-title-accent-color: #FF0070;
  --accent-color: #353430;
  --subtitle-color: #353430;
  --title-decor-color: #FF8DCB;
}

@media (prefers-color-scheme: light) {

  .page {
    background-image: url(/images/cover-image-light.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    --border-hover-color: rgb(50 49 45 / 0.4);
    --bg-color: #fff1f7;
    --text-color: #353430;
    --main-title-color: #ffc2e6;
    --main-title-accent-color: #ff0070;
    --accent-color: #353430;
    --subtitle-color: #353430;
    --title-decor-color: #ff8dcb;
  }

  .decorated-zone__span {
    display: none;
  }
}
