:root {
  --bg-color: #000028;
  --text-color: #F1B2CE;
  --main-title-color: #DB00FF;
  --accent-color: #FF0070;
  --subtitle-color: #000028;
  --regular-padding: 20px;
  --small-padding: 10px;
  --main-font: 'IBM Plex mono', sans-serif;
}